body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;
}

header {
  background-color: white;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

.contact-link {
  text-decoration: none;
  color: #434455;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #4d5ae5;
}

.contacts {
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background-color: #2e2f42;
  color: white;
}

.hero h1 {
  text-align: center;
}

button {
  background-color: #4d5ae5;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: white;
}

.team h3,
.team h2,
.team p,
.portfolio h2 {
  text-align: center;
}

footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

footer .logo {
  color: white;
}
