body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
}

header {
  background-color: #e7e9fc;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2e2f42;
}

.logo-accent {
  color: #4d5ae5;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: red;
}

.contacts {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

.contact-link {
  text-decoration: none;
  color: #2e2f42;
}

.contact-link:hover,
.contact-link:focus {
  color: red;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero {
  background-color: #2e2f42;
  color: white;
}

.hero h1 {
  text-align: center;
}

button {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: white;
  border: none;
  padding: 16px 32px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.team {
  background-color: #f4f4fd;
}

.team-card {
  background-color: white;
}

.team h2 {
  text-align: center;
}

.team h3,
.team p {
  text-align: center;
}

.portfolio h2 {
  text-align: center;
}

footer {
  background-color: #2e2f42;
  color: white;
}

footer .logo {
  color: white;
}

footer > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
